:import {
  -st-from: 'wix-ui-tpa/dist/src/components/Button/Button.st.css';
  -st-default: Button;
}

.root {
  --backgroundColor: "color(color-2)";
  text-align: center;
}


.header {
  background-color: "color(--backgroundColor)";
  font: "fallback(font(--textFont), font({theme: \'Body-M\', size: \'20px\'}))";
  padding: 10px;
  color: "fallback(color(--textColor), color(color-5))";
}

.mainButton {
  -st-extends: Button;
  -st-mixin: Button(
    MainBackgroundColor '"--buttonBackgroundColor"'
  );
  padding: 0 20px;
  height: 30px;
  margin-top: 20px;
  border-radius: 10px;
}
