@import '~@wix/wix-base-ui/dist/style.css';

@import "~@wix/wix-base-ui/src/controls/colorPicker/colorSpace.scss";
@import "~@wix/wix-base-ui/src/controls/slider.scss";
@import "~@wix/wix-base-ui/src/controls/textLabel.scss";
@import "~@wix/wix-base-ui/src/controls/divider.scss";

html,
body,
div#root {
  height: 100%;
}
